{% extends "base.html" %}

{% block title %}{% block admin_title_inner %}Admin Dashboard{% endblock %} - SmartLib{% endblock %}

{% block styles %}
<style>
    /* Custom overrides for admin sidebar */
    .sidebar-wrapper .sidebar-header img {
        height: auto;
        width: 100%;
        max-width: 150px;
    }
</style>
{{ super() }}
{% endblock %}

{% block body_content %}
<div id="app">
    <div id="sidebar">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header position-relative">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="logo">
                        <a href="{{ url_for('admin.dashboard') }}"><span class="fs-4 fw-bold">SmartLib</span></a>
                    </div>
                    <div class="theme-toggle d-flex gap-2  align-items-center mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            aria-hidden="true" role="img" class="iconify iconify--system-uicons" width="20" height="20"
                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21">
                            <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path
                                    d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2"
                                    opacity=".3"></path>
                                <g transform="translate(-210 -1)">
                                    <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                                    <circle cx="220.5" cy="11.5" r="4"></circle>
                                    <path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2">
                                    </path>
                                </g>
                            </g>
                        </svg>
                        <div class="form-check form-switch fs-6">
                            <input class="form-check-input  me-0" type="checkbox" id="toggle-dark"
                                style="cursor: pointer">
                            <label class="form-check-label"></label>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            aria-hidden="true" role="img" class="iconify iconify--mdi" width="20" height="20"
                            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z">
                            </path>
                        </svg>
                    </div>
                    <div class="sidebar-toggler  x">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li class="sidebar-item {% if request.endpoint == 'admin.dashboard' %}active{% endif %}">
                        <a href="{{ url_for('admin.dashboard') }}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-title">User Management</li>

                    <li
                        class="sidebar-item has-sub {% if 'admin_users' in request.endpoint or 'admin_groups' in request.endpoint or 'change_password' in request.endpoint %}active{% endif %}">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-people-fill"></i>
                            <span>Users & Groups</span>
                        </a>
                        <ul
                            class="submenu {% if 'admin_users' in request.endpoint or 'admin_groups' in request.endpoint or 'change_password' in request.endpoint %}active{% endif %}">
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_users.user_management' %}active{% endif %}">
                                <a href="{{ url_for('admin_users.user_management') }}">Users</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_users.password_reset_requests' %}active{% endif %}">
                                <a href="{{ url_for('admin_users.password_reset_requests') }}">Reset Requests</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_user_groups.user_groups' %}active{% endif %}">
                                <a href="{{ url_for('admin_user_groups.user_groups') }}">User Groups</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_groups.groups' %}active{% endif %}">
                                <a href="{{ url_for('admin_groups.groups') }}">Groups</a>
                            </li>
                            <li class="submenu-item {% if request.endpoint == 'change_password' %}active{% endif %}">
                                <a href="{{ url_for('change_password') }}">Change Password</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-title">Content & Data</li>

                    <li
                        class="sidebar-item has-sub {% if 'admin_files' in request.endpoint or 'admin_downloads' in request.endpoint or 'admin_folder_upload' in request.endpoint or 'admin_libraries' in request.endpoint or 'admin_catalogs' in request.endpoint or 'category_management' in request.endpoint or 'admin_knowledges' in request.endpoint or 'admin_languages' in request.endpoint %}active{% endif %}">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-collection-fill"></i>
                            <span>Data Management</span>
                        </a>
                        <ul
                            class="submenu {% if 'admin_files' in request.endpoint or 'admin_downloads' in request.endpoint or 'admin_folder_upload' in request.endpoint or 'admin_libraries' in request.endpoint or 'admin_catalogs' in request.endpoint or 'category_management' in request.endpoint or 'admin_knowledges' in request.endpoint or 'admin_languages' in request.endpoint %}active{% endif %}">
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_files.file_management' %}active{% endif %}">
                                <a href="{{ url_for('admin_files.file_management') }}">Files</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_downloads.download_management' %}active{% endif %}">
                                <a href="{{ url_for('admin_downloads.download_management') }}">URL Downloads</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_folder_upload.folder_upload' %}active{% endif %}">
                                <a href="{{ url_for('admin_folder_upload.folder_upload') }}">Folder Upload</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_libraries.library_management' %}active{% endif %}">
                                <a href="{{ url_for('admin_libraries.library_management') }}">Libraries</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_catalogs.catalog_management' %}active{% endif %}">
                                <a href="{{ url_for('admin_catalogs.catalog_management') }}">Catalogs</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin.category_management' %}active{% endif %}">
                                <a href="{{ url_for('admin.category_management') }}">Categories</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_knowledges.knowledge_management' %}active{% endif %}">
                                <a href="{{ url_for('admin_knowledges.knowledge_management') }}">Knowledge Base</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_languages.language_management' %}active{% endif %}">
                                <a href="{{ url_for('admin_languages.language_management') }}">LLM Languages</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-title">AI & Connectivity</li>

                    <li
                        class="sidebar-item has-sub {% if 'vector' in request.endpoint or 'ocr' in request.endpoint or 'visual_grounding' in request.endpoint or 'admin_models' in request.endpoint or 'admin_embeddings' in request.endpoint %}active{% endif %}">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-cpu-fill"></i>
                            <span>AI Services</span>
                        </a>
                        <ul
                            class="submenu {% if 'vector' in request.endpoint or 'ocr' in request.endpoint or 'visual_grounding' in request.endpoint or 'admin_models' in request.endpoint or 'admin_embeddings' in request.endpoint %}active{% endif %}">
                            <li
                                class="submenu-item {% if 'vector_reference_logs' in request.endpoint %}active{% endif %}">
                                <a href="{{ url_for('vector_reference_logs.list_vector_reference_logs') }}">Vector
                                    References</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin.vector_store_settings' %}active{% endif %}">
                                <a href="{{ url_for('admin.vector_store_settings') }}">Vector Settings</a>
                            </li>
                            {% if config.get('ENABLE_OCR') %}
                            <li class="submenu-item {% if request.endpoint == 'admin.ocr_settings' %}active{% endif %}">
                                <a href="{{ url_for('admin.ocr_settings') }}">OCR Settings</a>
                            </li>
                            {% endif %}
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_visual_grounding.visual_grounding_activities' %}active{% endif %}">
                                <a href="{{ url_for('admin_visual_grounding.visual_grounding_activities') }}">Visual
                                    Grounding Activity</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin.visual_grounding_settings' %}active{% endif %}">
                                <a href="{{ url_for('admin.visual_grounding_settings') }}">Visual Grounding
                                    Settings</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_models.model_management' %}active{% endif %}">
                                <a href="{{ url_for('admin_models.model_management') }}">LLM Models</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_embeddings.embedding_models' %}active{% endif %}">
                                <a href="{{ url_for('admin_embeddings.embedding_models') }}">Embedding Models</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-title">System</li>

                    <li
                        class="sidebar-item has-sub {% if 'admin_messages' in request.endpoint or 'admin_feedback' in request.endpoint or 'admin_settings' in request.endpoint or 'logo_settings' in request.endpoint or 'reset_data' in request.endpoint %}active{% endif %}">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-gear-fill"></i>
                            <span>Configuration</span>
                        </a>
                        <ul
                            class="submenu {% if 'admin_messages' in request.endpoint or 'admin_feedback' in request.endpoint or 'admin_settings' in request.endpoint or 'logo_settings' in request.endpoint or 'reset_data' in request.endpoint %}active{% endif %}">
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_messages.message_viewer' %}active{% endif %}">
                                <a href="{{ url_for('admin_messages.message_viewer') }}">Message History</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_feedback.feedback_list' %}active{% endif %}">
                                <a href="{{ url_for('admin_feedback.feedback_list') }}">Feedback</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin.admin_reset_data' %}active{% endif %}">
                                <a href="{{ url_for('admin.admin_reset_data') }}">Reset Data</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin_settings.settings_page' %}active{% endif %}">
                                <a href="{{ url_for('admin_settings.settings_page') }}">App Settings</a>
                            </li>
                            <li
                                class="submenu-item {% if request.endpoint == 'admin.logo_settings' %}active{% endif %}">
                                <a href="{{ url_for('admin.logo_settings') }}">Logo Settings</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a href="{{ url_for('index') }}" class='sidebar-link'>
                            <i class="bi bi-box-arrow-left"></i>
                            <span>Back to App</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="{{ url_for('logout') }}" class='sidebar-link'>
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>{% block page_title %}{% block admin_title %}Dashboard{% endblock %}{% endblock %}</h3>
                        <p class="text-subtitle text-muted">{% block page_subtitle %}Admin Control Panel{% endblock
                            %}</p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ url_for('admin.dashboard') }}">Admin</a>
                                </li>
                                {% block breadcrumb %}
                                {% block admin_breadcrumb %}
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                                {% endblock %}
                                {% endblock %}
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category if category != 'message' else 'info' }} alert-dismissible fade show"
                role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %}
            {% block admin_content %}{% endblock %}
            {% endblock %}
        </div>

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2025 &copy; SmartLib</p>
                </div>
                <div class="float-end">
                    <p>Crafted with <span class="text-danger"><i class="bi bi-heart-fill icon-mid"></i></span></p>
                </div>
            </div>
        </footer>
    </div>
</div>

<script src="{{ url_for('static', filename='assets/mazer/static/js/components/dark.js') }}"></script>
<script
    src="{{ url_for('static', filename='assets/mazer/extensions/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/mazer/compiled/js/app.js') }}"></script>
<!-- Ensure Bootstrap is available for admin page scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

{% block js %}
{% block admin_scripts %}{% endblock %}
{% endblock %}
{% endblock body_content %}